.optionContainer {
  h2 {
    text-align: center;
    color: #1d355d;
    font-size: 26px;
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    margin-bottom: 0;
  }

  button {
    font-family: "Poppins", "sans-serif";
    font-weight: 500;
    font-size: 18px;
    color: #6066d0;
    text-align: center;

    &:hover {
      color: #ffffff;
      background-color: #f9a826;
    }
  }
}
