.fullWidth {
  width: 100%;

  .btnAnswer {
    display: flex;
    font-family: "Poppins", "sans-serif";
    font-weight: 500;
    font-size: 18px;
    border-radius: 12px;
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: center;
    margin-top: 31px;
    color: #6066d0;
    border: 2px solid #6066d0;

    &:hover {
      color: #ffffff;
      background-color: #f9a826;
      border: none;
    }
  }
  .correctAnswer {
    background-color: #60bf88 !important;
    color: #ffffff !important;
    border: none !important;
  }

  .wrongAnswer {
    background-color: #ea8282 !important;
    color: #ffffff !important;
    border: none !important;
  }
}
