.optionContainer button {
  font-family: "Poppins", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  color: #6066d0;
  text-align: center;
}

.optionContainer button:hover {
  font-family: "Poppins", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #f9a826;
}
