.footer {
  text-align: center;
  color: #f2f2f2;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;

  a {
    text-decoration: none;
    color: #f2f2f2;
    text-decoration: underline;
  }
}
